/* ==============================================================
                    BASIC CONFIGURATIONS
================================================================= */
html, body {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

body {
    font-size: 2rem;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, minmax(50px, auto));
}

a {
    color: #ffffff;
    text-decoration: none;
    font-size: 2rem;
}

.a_header, .a_footer {
    color: #000;
    font-size: 1.6rem;
}

/* ===================================
                HEADER
====================================== */
header {
    display: grid;
    grid-column: span 10;
    border: 1px solid #000;
}

.top_header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #e2fff8;
    font-size: 1.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #000;
}

.main_header {
    display: grid;
    grid-template-columns: 20% 30% 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.aestus_logo {
    width: 25%;
}

.nav_pages {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    list-style: none;
    padding-right: 10rem;
}

li {
    margin: 1rem;
    background-color: rgba(0, 68, 6, 0.75);
    border-radius: 2rem;
    list-style: none;
}

.urgency_button {
    background-color: rgba(88, 0, 26, 0.75);
}

/* ===================================
                MAIN
====================================== */
main {
    grid-column: span 10;
    background-image: url(../images/back2.jpg);
}

/* ===================================
                FOOTER
====================================== */
footer {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #e2fff8;
    grid-column: span 10;
    font-size: 1.5rem;
    border: 1px solid #000;
}

.a_footer {
    margin-left: 45%;
    margin-right: 45%;
}

.back_top {
    height: 50%;
    width: 50%;
}

/* ==============================================================
                        INDEX.HTML
================================================================= */
.article_index {
    display: grid;
    grid-template-columns: 75% 25%;
}

.welcome_index {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 2rem;
    margin-top: 5rem;
    margin-left: 10rem;
    margin-right: 25rem;
    padding-right: 5rem;
    padding-left: 5rem;
}

.informations_index {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 2rem;
    margin-top: 5rem;
    margin-right: 10rem;
    padding-right: 5rem;
    padding-left: 5rem;
}

.emergency_index {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 5rem;
    padding-right: 25rem;
    padding-left: 25rem;
    color: #fff;
    background-color: #58001b;
}

/* ==============================================================
                        ABOUT.HTML
================================================================= */

.main_top_about {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 2rem;
    margin-left: 25rem;
    margin-right: 25rem;
    padding-right: 10rem;
    padding-left: 10rem;
}

.main_bottom_about {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 2rem;
    margin-left: 25rem;
    margin-right: 25rem;
    padding-right: 10rem;
    padding-left: 10rem;
}

/* ==============================================================
                        DISCPIPLINE.HTML
================================================================= */
.discipline {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.practitioner {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 2rem;
    margin: 5rem;
    padding-right: 10rem;
    padding-left: 10rem;
    color: #000;
}

.ophthalmology {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 2rem;
    margin: 5rem;
    padding-right: 10rem;
    padding-left: 10rem;
    color: #000;
}

/* ==============================================================
                        SCHEDULE.HTML
================================================================= */
.office_schedule {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 2rem;
    margin: 5rem;
    margin-left: 65rem;
    margin-right: 65rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.office_schedule table {
    background-color: unset;
    margin: auto;
}

.discipline_schedule {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.discipline_schedule section {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 2rem;
    margin: 5rem;
    padding-right: 10rem;
    padding-left: 10rem;
    padding-bottom: 2rem;
}

.discipline_schedule table {
    background-color: unset;
    margin: auto;
}

/* ==============================================================
                        CONTACT.HTML
================================================================= */
.contact_us {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.map {
    margin: 5rem;
    margin-left: 20rem;
}
    
form {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    margin: 5rem;
    margin-right: 20rem;
}

form section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

form .user_firstname, .user_lastname, .user_mail, .user_phone {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 5rem;
    margin-right: 5rem;
}

.form_title {
    grid-column: span 2;
    margin-bottom: 0;
}

.form_required {
    grid-column: span 2;
    margin: 0;
    font-size: 1.5rem;
}

.form_discipline {
    grid-column: span 2;
}

.submit_button {
    grid-column: span 2;
}

input[type=text], input[type=email], input[type=tel] {
    padding: 1rem;
    border: none;
    background: #f1f1f1;
  }
  
input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus {
    background-color: #ddd;
}

/* ==============================================================
                        URGENCY.HTML
================================================================= */